* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Saira", sans-serif;
    scroll-behavior: smooth;
    letter-spacing: 1px;
}
body {
    background: #000;
    min-height: 500vh;
}

/* for pc (default) */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 10000;
    animation: 1s ease-out 0s 1 slideInLeft;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    transition: 0.8s ease-in-out;
}
header .logo:hover {
    transform: rotateZ(-20deg);
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul.phone {
    display: none;
}
header ul.nophone {
    display: flex;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.5s;
    padding: 5px 15px;
    border-radius: 8px;
}
header ul li a:hover {
    color: #000;
    background: #fff;
}
header.sticky ul li a:hover {
    color: #fff;
    background: #000;
}
header.sticky {
    background: #fff;
    padding: 10px 100px;
}
header.sticky .logo {
    color: #000;
}
header.sticky ul li a {
    color: #000;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    white-space: initial;
    background: url(/prefabs/diagmonds.png);
    background-repeat: repeat;
    color: #fff;
}
section h1 {
    font-size: 3em;
    text-align: center;
    padding: 20px;
    width: 100%;
}
section h3 {
    text-align: center;
    padding: 20px;
    width: 100%;
}

footer {
    color: white;
    text-align: center;
    padding: 5px 5px;
    letter-spacing: 1px;
    z-index: 999;
    font-size: 0.8em;
}
.content {
    transform: translateY(200px);
    opacity: 0;
    transition: all 2s ease;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.content p {
    text-align: center;
    font-size: 2em;
    padding: 16px;
}
.content p:not(.desc):before {
    position: absolute;
    left: 10%;
    content: " ";
    width: 80%;
    border-bottom: solid 1px white;
    transform: translateY(-10px);
}
.content .icons {
    font-size: 3em;
    letter-spacing: 1em;
}
.content .icon-text {
    font-size: 1.2em;
}
.content.active {
    transform: translateY(0px);
    opacity: 1;
}
.socials {
    font-size: 3em;
    letter-spacing: 3px;
    text-decoration: none;
}
.socials a {
    color: #fff;
    transition: 0.6s;
}
.socials a:hover {
    color: #0a2baa;
}

/* Card */

.card {
    width: 300px;
    height: 500px;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    margin: auto;
    background-image: url("/prefabs/CubeGame.png");
    background-size: cover;
    background-position: center;
    border: solid 2px white;
    margin-bottom: 24px;
}
.card:hover {
    transform: translateY(20px);
}
.card .info {
    position: relative;
    display: flex;
    z-index: 3;
    color: #fff;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
    opacity: 0;
    transition: 0.5s all;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.card:hover .info {
    opacity: 1;
}
.card .info h2 {
    font-size: 2em;
    text-align: center;
}
.card .info p {
    letter-spacing: 1px;
    font-size: 1em;
}
.content p a {
    font-weight: bold;
    color: aqua;
    border-radius: 40%;
    padding: 0 5px;
    transition: 0.5s ease-in-out;
    text-decoration: none;
}
.content p a:hover {
    box-shadow: 0px 2px 6px 6px rgba(0, 255, 255, 0.5);
    background-color: rgba(0, 255, 255, 0.5);
}

/* for phone */

@media (max-width: 960px) {
    header {
        padding: 10px 10px;
    }
    header .logo {
        font-size: 1.5em;
    }
    header ul li a {
        font-size: 0.9em;
    }
    header.sticky {
        padding: 5px 5px;
    }
    header ul.phone {
        display: flex;
    }
    header ul.nophone {
        display: none;
    }
    header ul li a {
        padding: 4px;
    }
    section h1 {
        font-size: 2em;
    }
    .content .icons {
        font-size: 2em;
    }
    .content p {
        font-size: 1em;
    }
}